<section class="introduction">

    <div class="stars" aria-hidden="true">
    </div>
<div class="container">
    <img src="../../../assets/images/provisional.png" alt="Retrato de Luna Estrella" class="portrait">
    <h1>Yazmin Villota</h1>
    <p class="intro">Una mirada única al mundo a través de pinceladas vibrantes y colores intensos. Explorando la belleza y la emoción en cada lienzo, inspirada por el estilo de Van Gogh.</p>
    
    <div class="facts">
        <div class="fact" *ngFor="let fact of facts">{{fact}}</div>
        <div class="fact">Nacida bajo una lluvia de estrellas</div>
    </div>
    
    <div class="tabs">
        <div class="tab-buttons">
            <button class="tab-button" (click)="changeSection(0)">Infancia</button>
            <button class="tab-button" (click)="changeSection(2)">Logros Artísticos</button>
        </div>
        <div class="tab-content" [ngSwitch]="actualSection">
            <img src="../../../assets/marcos/decoration3nofondo.png" alt="decoration" class="decoration top-right" width="30px">
            <img src="../../../assets/marcos/decoration3nofondo.png" alt="decoration" class="decoration top-left" width="30px">
            <img src="../../../assets/marcos/decoration3nofondo.png" alt="decoration" class="decoration bottom-left" width="30px">
            <img src="../../../assets/marcos/decoration3nofondo.png" alt="decoration" class="decoration bottom-right" width="30px">
            <h2>{{sections[actualSection].name}}</h2>
            <p>{{sections[actualSection].content}}</p>
        </div>
    </div>
</div>
</section>