<section class="blog">
    <div class="container">

        <div class="right-container">
            <h1 class="title">Blog</h1>
        <h2 class="subtitle">El brillo de la pintura de Vincent van Gogh. Sus pinturas son como una gota de agua que cae en el lago de la vida, y que produce un efecto en cadena, que nos hace reflexionar sobre la belleza y la fragilidad de la vida.</h2>
        <div class="destacated-posts">
            <div *ngFor="let post of destacatedPosts" class="destacated-post">
                <div class="post">
                    <h3 class="post-title">{{post.title}}</h3>
                    <p class="post-text">{{post.excerpt}}</p>
                </div>
            </div>
        </div>
        <h3 class="subtitle-blog">BLOG POSTS</h3>
        <div class="blog-posts" >
            <div class="blog-card" *ngFor="let post of blogPosts">
                <p class="card-text">{{post.excerpt}}</p>
            </div>
        </div>
        <h3 class="subtitle-blog">ARTS</h3>
        <div class="blogs-art">
            <div class="art-card"*ngFor="let post of blogPosts">
                <img src="{{post.image}}" alt="{{post.title}}" class="art-card-image">
            </div>
        </div>
    </div>
    <div class="left-container">
        <div class="vertical-container" *ngFor="let content of blogContent">
            <ng-container *ngIf="content.src; then img else p"></ng-container>
            <ng-template #img>
                <img src="{{content.src}}" alt="{{content.alt}}" class="vertical-image">
            </ng-template>
            <ng-template #p>
                <p class="vertical-text">{{content.text}}</p>
            </ng-template>
        </div>
    </div>
</div>
</section>