.body {
  background: url("../assets/backgrounds/DALL·E_2024-10-04_01.19.03_-_A_deep_blue_background_with_swirling_brushstrokes_inspired_by_Van_Gogh_s__Starry_Night___featuring_subtle_gold_accents._The_background_is_artistic_and-transformed.png") no-repeat fixed ;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

main {
  width: calc(100vw - 8px);
  z-index: 1;
}

app-header{
  z-index: 99;
}