<section class="home">
    <div class="welcome">
        <div class="hero">
            <img src="../../../assets/images/provisional.png" alt="hero">
        </div>
        <div class="presentation">
            <h1>Yazmin Villota - Blue Artist</h1>        
        </div>
    </div>
    <div class="bottom-container">

        <div class="bottom">
            <img src="../../../assets/images/decoration1.png" alt="decoration" class="decoration top-left" >
            <img src="../../../assets/images/decoration1.png" alt="decoration" class="decoration top-right" >
            <img src="../../../assets/images/decoration1.png" alt="decoration" class="decoration bottom-left" >
            <img src="../../../assets/images/decoration1.png" alt="decoration" class="decoration bottom-right" >
            <p class="description">
                Hola, soy Yazmin Villota, bienvenidos a mi página.
                Me apasiona el arte y la pintura, y me siento afortunada de poder compartirla con ustedes.
                En esta página, podrán encontrar algunas de mis obras de arte, inspiradas en el estilo del gran Vincent van Gogh.
                Espero que disfruten viendo mis creaciones y que se sientan inspirados por el arte.
            </p>
            <a class="idk-btn" href="https://www.instagram.com/yaz_minvr?igsh=cGY2YzZucHE2NHEw" target="_blank">Instagram</a>
            <div class="cards-container">
                <div class="card" *ngFor="let card of cards">
                    <button (click)="goToLink(card.link)">{{card.button}}</button>
                    <div class="card-image" (click)="goToLink(card.link)">
                        <img src="{{card.src}}" alt="{{card.alt}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>